<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# deny access to the top-level git repository:
RewriteEngine On
RewriteRule \.git - [F,L]

RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ https://%1/$1 [L,R=301]

RewriteCond %{THE_REQUEST} //
RewriteRule .* /$0 [R=301,L]